https://blog.amedama.jp/entry/2018/03/03/173257

In [34]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
# from pyspark.sql import spark
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [35]:
sc

In [36]:
rdd = sc.parallelize([
 ('Alice', 20),
  ('Bob', 25),
  ('Carol', 30),
   ('Daniel', 30),
 ])

In [37]:
rdd.collect()

[('Alice', 20), ('Bob', 25), ('Carol', 30), ('Daniel', 30)]

In [38]:
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
schema = StructType([StructField('name', StringType(),False)
                     ,StructField('age', IntegerType(),False)])

In [39]:
df = spark.createDataFrame(rdd,schema)
df

DataFrame[name: string, age: int]

In [40]:
# df = spark.sql('SELECT "Hello, World!" AS message')
# df.show()

In [41]:
df.registerTempTable('users')

In [42]:
df = spark.sql('SELECT * FROM users')
df.show()

+------+---+
|  name|age|
+------+---+
| Alice| 20|
|   Bob| 25|
| Carol| 30|
|Daniel| 30|
+------+---+

In [45]:
df_under_30 = spark.sql('SELECT * FROM users WHERE age <= 30')
df_under_30.show()

+------+---+
|  name|age|
+------+---+
| Alice| 20|
|   Bob| 25|
| Carol| 30|
|Daniel| 30|
+------+---+

In [46]:
df_under_30.registerTempTable('under_30')

In [48]:
spark.sql('SELECT * FROM under_30').show()

+------+---+
|  name|age|
+------+---+
| Alice| 20|
|   Bob| 25|
| Carol| 30|
|Daniel| 30|
+------+---+

function ã§

In [52]:
from pyspark.sql import functions as F

In [54]:
df.select(F.avg(df.age)).show()

+--------+
|avg(age)|
+--------+
|   26.25|
+--------+

In [58]:
df.groupby(df.age).count().show()

+---+-----+
|age|count|
+---+-----+
| 20|    1|
| 25|    1|
| 30|    2|
+---+-----+